<!-- about.html -->
{% extends "layouts/base.html" %} {% block content %}

<!-- Hero Section -->
<section class="hero">
   <div class="circle"></div>
   <div class="hero-content">
      <div class="hero-image">
         <img
            src="/static/images/more/abouthero.png"
            alt="About Hero Image" />
      </div>
      <div class="hero-text">
         <h1 class="hero-heading">About Shopease </h1>
         <p class="hero-text-body">
            Shopease began in 2025 in AkwaIbom, inspired by real people and real
            needs. We're more than an online store — we're a marketplace that
            feels like home.
         </p>
         <p class="hero-text-body">
            By connecting local sellers and African brands with customers who
            value quality and ease, we make shopping simple, personal, and
            purposeful.
         </p>
      </div>
   </div>
</section>

<!-- Stats Section -->
<section class="about-stats">
   <div class="stats-grid">
      <div class="stat-box">
         <img
            src="../../static/images/more/salesactive.png"
            alt="" />
         <div class="stat-card-text">
            <h2>10.5k</h2>
            <p>Active sellers on our site</p>
         </div>
      </div>
      <div class="stat-box blue">
         <img
            src="../../static/images/more/productsales.png"
            alt="" />
         <div class="stat-card-text">
            <h2>33k</h2>
            <p>Monthly product sales</p>
         </div>
      </div>
      <div class="stat-box">
         <img
            src="../../static/images/more/customersactive.png"
            alt="" />
         <div class="stat-card-text">
            <h2>45.5k</h2>
            <p>Active customers</p>
         </div>
      </div>
      <div class="stat-box">
         <img
            src="../../static/images/more/annualreturns.png"
            alt="" />
         <div class="stat-card-text">
            <h2>25k</h2>
            <p>Gross annual sales</p>
         </div>
      </div>
   </div>
</section>

{% endblock %}
