{% extends "layouts/base.html" %} {% block content %}
<div class="wishlist-container">
   {% if not wishlist %}
   <div class="empty-wishlist">
      <p>Your wishlist is empty.</p>
   </div>
   {% else %}
   <h2 class="products-section-header">Wishlist ({{ wishlist|length }})</h2>

   <div class="wishlist-grid">
      {% for item in wishlist %}
      <div class="wishlist-card">
         <img
            src="{{ item.image }}"
            alt="{{ item.name }}" />
         <div class="wishlist-info">
            <h3 class="wishlist-name">{{ item.name }}</h3>
            <p class="wishlist-price">${{ item.discount_price }}</p>
            <p class="wishlist-meta">{{ item.sold.last30 }} sold</p>
         </div>

         <div class="wishlist-actions">
            <div class="wishlist-actions">
               <form action="{{ url_for('add', product_id=item.id) }}">
                  <button
                     type="submit"
                     class="btn add-btn"
                     >Add to Cart</button
                  >
               </form>
               <form
                  method="POST"
                  action="{{ url_for('remove_from_wishlist', product_id=item.id) }}">
                  <button
                     type="submit"
                     class="btn delete-btn"
                     >Remove</button
                  >
               </form>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   {% endif %}
</div>
{% endblock %}
