/* Stats Section */
.about-stats {
   padding: 60px 20px;
}

.stats-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
   max-width: 1200px;
   margin: auto;
   text-align: center;
}

.stat-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   padding: 20px;
   border-radius: 0.5rem;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   border: 1px solid rgb(211, 206, 206);
}

.stat-box img {
   width: 80px;
   height: 80px;
}
.stat-box.blue {
   background-color: var(--color-primary);
}

.stat-box .icon {
   font-size: 2rem;
   margin-bottom: 10px;
}
.stat-card-text {
   display: grid;
   gap: 0.5rem;
}
.stat-card-text h2 {
   font-size: 2rem;
   margin: 10px 0;
   color: #1e1e1e;
   font-weight: bold;
   line-height: 0px;
}

.stat-box.blue > .stat-card-text h2,
.stat-box.blue > .stat-card-text p {
   color: white;
}

.stat-card-text p {
   font-size: 0.9rem;
   color: #1e1e1e;
}

/* Responsive */
@media (max-width: 768px) {
   .stats-grid {
      grid-template-columns: 1fr 1fr;
   }
}

@media (max-width: 480px) {
   .stats-grid {
      grid-template-columns: 1fr;
   }
}
